<div>
    <h2><span>Site</span> {{vm.site.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.site.name}}</span>
        </dd>
        <dt><span>Regex</span></dt>
        <dd>
            <span>{{vm.site.regex}}</span>
        </dd>
        <dt><span>Seed</span></dt>
        <dd>
            <span>{{vm.site.seed}}</span>
        </dd>
    </dl>

    <div class="row crawl-stats" ng-if="vm.stats['crawlersRunning']">
        <div class="col-md-12">
            <uib-progressbar min="0" max="100"
                             value="100"
                             class="progress-striped active"
                             type="success">
            </uib-progressbar>
            <dl class="dl-horizontal">
                <dt>Visited</dt>
                <dd>{{vm.stats['numberVisited']}}</dd>
                <dt>Processed</dt>
                <dd>{{vm.stats['numberProcessed']}}</dd>
                <dt># Crawlers</dt>
                <dd>{{vm.stats['crawlersRunning']}}</dd>
            </dl>
        </div>
    </div>

    <button type="button"
            ng-click="initCrawl()"
            ng-class="{disabled : vm.stats['crawlersRunning'] > 0}"
            class="btn btn-success js-start-crawl">
        <span class="glyphicon glyphicon-play"></span>&nbsp;<span> Start crawling</span>
    </button>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="site-detail.edit({id:vm.site.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>


</div>
