
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAttributeLabel">Create or edit a Attribute</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.attribute.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.attribute.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_value">Value</label>
            <input type="text" class="form-control" name="value" id="field_value"
                    ng-model="vm.attribute.value"
                     />
        </div>

        <div class="form-group">
            <label for="field_document">Document</label>
            <select class="form-control" id="field_document" name="document" ng-model="vm.attribute.document" ng-options="document as document.url for document in vm.documents track by document.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.document.$invalid">
            <p class="help-block"
                ng-show="editForm.document.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_selector">Selector</label>
            <select class="form-control" id="field_selector" name="selector" ng-model="vm.attribute.selector" ng-options="selector as selector.name for selector in vm.selectors track by selector.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.selector.$invalid">
            <p class="help-block"
                ng-show="editForm.selector.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_relatives">Relatives</label>
            <select class="form-control" id="field_relatives" multiple name="relatives" ng-model="vm.attribute.relatives" ng-options="attribute as attribute.value for attribute in vm.attributes track by attribute.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
